/* .listItem{
    width: 30%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 4px;
    padding: 9px;
    margin: 2px;
    float: left;
}

.red{
    color: red;
}

.blue{
    color: darkblue;
} */